<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>zbrl.templatefile</string>
	<key>category</key>
	<string>zbrl</string>
	<key>connections</key>
	<dict>
		<key>0B904FB6-EB01-43E8-B3E5-72CD1053733A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9934CE-D26E-47A0-9DA9-8B9F69846FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>143A6F3B-C101-4A82-AF78-93D787360245</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9751D185-092A-424D-83DC-52BCCB1CB4B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>13038631-48EC-4C8D-AD47-01AC50E11F1B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32B5759E-E2A8-4467-B3B8-E88377F1E873</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32B5759E-E2A8-4467-B3B8-E88377F1E873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>976C58B9-7A15-461E-B5D5-1E875877EF96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B7CB7E9-F331-450D-87CA-81D99C621C7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DD0197-7CBB-4096-9F94-E64C9A78DABA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>13038631-48EC-4C8D-AD47-01AC50E11F1B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5A7C323-0549-484D-B1C5-0EA060552245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FAC6CBD-B1B4-46F3-9FBB-83CD211E4F09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B4D8C20-4C95-4525-9147-3FF396931667</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>712072D2-3D01-4907-93F7-D8F78347F18D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D494C07A-B36C-41B9-B790-5F8A1967A204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87F207A4-8A75-4E86-A991-7E6CF1C5567E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B904FB6-EB01-43E8-B3E5-72CD1053733A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9751D185-092A-424D-83DC-52BCCB1CB4B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>976C58B9-7A15-461E-B5D5-1E875877EF96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B4D8C20-4C95-4525-9147-3FF396931667</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>143A6F3B-C101-4A82-AF78-93D787360245</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A38E619A-7FBA-4B65-84A2-05DD212E2584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>712072D2-3D01-4907-93F7-D8F78347F18D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5A7C323-0549-484D-B1C5-0EA060552245</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C76C9EC-8456-4C54-AE5A-5C83A435F95E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE282E36-5078-4A8D-909B-DD38E7209E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FAC6CBD-B1B4-46F3-9FBB-83CD211E4F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DD0197-7CBB-4096-9F94-E64C9A78DABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C76C9EC-8456-4C54-AE5A-5C83A435F95E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D494C07A-B36C-41B9-B790-5F8A1967A204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE282E36-5078-4A8D-909B-DD38E7209E47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA31732A-8775-4A2B-A9E0-F00A76F4F9FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B7CB7E9-F331-450D-87CA-81D99C621C7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD9934CE-D26E-47A0-9DA9-8B9F69846FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA31732A-8775-4A2B-A9E0-F00A76F4F9FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zbrl</string>
	<key>description</key>
	<string>New any type of file or folder (directly or using a template). 
New any type of file or folder (directly or using a template).
New any type of file or folder (directly or using a template).</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Template File</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh ./cp_file.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9751D185-092A-424D-83DC-52BCCB1CB4B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>976C58B9-7A15-461E-B5D5-1E875877EF96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>tf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>A38E619A-7FBA-4B65-84A2-05DD212E2584</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder"
		set pathList to (POSIX path of (folder of the front window as alias))
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D494C07A-B36C-41B9-B790-5F8A1967A204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Title?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6FAC6CBD-B1B4-46F3-9FBB-83CD211E4F09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:in_path}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>[.*\.*.]</string>
						<key>outputlabel</key>
						<string>file</string>
						<key>uid</key>
						<string>13038631-48EC-4C8D-AD47-01AC50E11F1B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>dir</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>143A6F3B-C101-4A82-AF78-93D787360245</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9B4D8C20-4C95-4525-9147-3FF396931667</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>in_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>712072D2-3D01-4907-93F7-D8F78347F18D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>out_dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CE282E36-5078-4A8D-909B-DD38E7209E47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh ./cp_dir.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32B5759E-E2A8-4467-B3B8-E88377F1E873</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh ./new_file.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0DD0197-7CBB-4096-9F94-E64C9A78DABA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C76C9EC-8456-4C54-AE5A-5C83A435F95E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Finder"
		set pathList to (POSIX path of (folder of the front window as alias))
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FD9934CE-D26E-47A0-9DA9-8B9F69846FE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>new</string>
				<key>subtext</key>
				<string>with extension for file, without for dir</string>
				<key>text</key>
				<string>New file or dir</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87F207A4-8A75-4E86-A991-7E6CF1C5567E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:filename}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>[.*\.*.]</string>
						<key>outputlabel</key>
						<string>file</string>
						<key>uid</key>
						<string>13038631-48EC-4C8D-AD47-01AC50E11F1B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>dir</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6B7CB7E9-F331-450D-87CA-81D99C621C7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B904FB6-EB01-43E8-B3E5-72CD1053733A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>out_dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EA31732A-8775-4A2B-A9E0-F00A76F4F9FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh ./new_dir.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A5A7C323-0549-484D-B1C5-0EA060552245</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>New any type of file or folder (directly or using a template). More details can be found in https://github.com/zzhanghub/alfred-template-file</string>
	<key>uidata</key>
	<dict>
		<key>0B904FB6-EB01-43E8-B3E5-72CD1053733A</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>143A6F3B-C101-4A82-AF78-93D787360245</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>32B5759E-E2A8-4467-B3B8-E88377F1E873</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>4C76C9EC-8456-4C54-AE5A-5C83A435F95E</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>6B7CB7E9-F331-450D-87CA-81D99C621C7E</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>6FAC6CBD-B1B4-46F3-9FBB-83CD211E4F09</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>712072D2-3D01-4907-93F7-D8F78347F18D</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>87F207A4-8A75-4E86-A991-7E6CF1C5567E</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>9751D185-092A-424D-83DC-52BCCB1CB4B6</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>976C58B9-7A15-461E-B5D5-1E875877EF96</key>
		<dict>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>9B4D8C20-4C95-4525-9147-3FF396931667</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A38E619A-7FBA-4B65-84A2-05DD212E2584</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>A5A7C323-0549-484D-B1C5-0EA060552245</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>CE282E36-5078-4A8D-909B-DD38E7209E47</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>D0DD0197-7CBB-4096-9F94-E64C9A78DABA</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>D494C07A-B36C-41B9-B790-5F8A1967A204</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>EA31732A-8775-4A2B-A9E0-F00A76F4F9FC</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>FD9934CE-D26E-47A0-9DA9-8B9F69846FE1</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>/Users/zzhang/Nutstore/我的坚果云/效率工具/template_file</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>path</string>
	</array>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://github.com/zzhanghub/alfred-template-file</string>
</dict>
</plist>
